In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import glob
import os

In [60]:
dstdir = "../data2"
stocks_dict = {}

cnt = 1
# r=root, d=directories, f=files
for r, d, f in os.walk(dstdir):
    for file in f:
        if file.endswith(".csv"):
            stocks_dict["stock{0}".format(cnt)] = pd.read_csv(os.path.join(r, file), 
                                                              names=["date", "open", "high", "low", "close", "s_close5", "s_close10", "s_close20", "s_close60", "s_close120", "total_pattern", "amount", "s_amount5", "s_amount20", "s_amount60", "s_amount120"])
            cnt += 1
stocks_dict["stock60"].head()

,date,open,high,low,close,s_close5,s_close10,s_close20,s_close60,s_close120,total_pattern,amount,s_amount5,s_amount20,s_amount60,s_amount120
0,2018-06-26,"5,800","5,800","5,550","5,600",,,,,,0,"326,750",,,,
1,2018-06-27,"5,630","5,740","5,500","5,510",,,,,,0,"241,879",,,,
2,2018-06-28,"5,510","5,620","5,470","5,500",,,,,,0,"203,178",,,,
3,2018-06-29,"5,520","5,630","5,300","5,620",,,,,,0,"276,807",,,,
4,2018-07-02,"5,620","5,660","5,210","5,290","5,504.00",,,,,0,"325,761","274,875.00",,,

In [67]:
print("총", len(stocks_dict), "종목")
# cnt = 1
# for key in stocks_dict:
#     stocks_dict["stocks{0}".format()]
#     df = pd.concat([stock1[['close']],stock2[['close']],axis=1)

총 107 종목

In [9]:
stock1 = pd.read_csv(files[0])

In [10]:
stock1

,date,open,high,low,close,volume,per,pbr,roe,market_kospi_ma5_ratio,market_kospi_ma20_ratio,market_kospi_ma60_ratio,market_kospi_ma120_ratio,bond_k3y_ma5_ratio,bond_k3y_ma20_ratio,bond_k3y_ma60_ratio,bond_k3y_ma120_ratio
0,20160104,147500.0,148000.0,143500.0,144000.0,445332.0,7.67,0.43,6.06,1.014067,1.020727,1.003090,0.982268,1.000721,1.002284,1.000295,1.000591
1,20160105,143000.0,145000.0,142000.0,143500.0,530496.0,7.67,0.43,6.06,1.015097,1.030705,1.012278,0.991928,1.000419,1.002215,1.000242,1.000456
2,20160106,144000.0,145000.0,139000.0,140000.0,769406.0,7.67,0.43,6.06,1.009296,1.035409,1.016705,0.997317,1.000556,1.002633,1.000726,1.000861
3,20160107,138500.0,140000.0,137500.0,137500.0,586187.0,7.67,0.43,6.06,0.996236,1.024228,1.005281,0.987199,1.000638,1.002920,1.001104,1.001178
4,20160108,134500.0,138000.0,133500.0,136500.0,888701.0,7.67,0.43,6.06,1.000425,1.027504,1.009328,0.992360,0.999909,1.002073,1.000535,1.000542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,20191223,124000.0,125000.0,122000.0,122500.0,1462906.0,7.56,0.43,6.08,0.997957,1.015010,1.002079,1.013144,1.000018,0.998755,0.997720,0.995154
975,20191224,123000.0,123000.0,121500.0,122000.0,600726.0,7.56,0.43,6.08,0.988089,1.002355,0.988296,1.000266,1.000299,0.999169,0.998123,0.995479
976,20191226,122500.0,123000.0,121500.0,122500.0,552469.0,7.56,0.43,6.08,1.007469,1.022626,1.007865,1.021415,1.000245,0.999267,0.998169,0.995454
977,20191227,121000.0,121000.0,120000.0,120500.0,422565.0,7.56,0.43,6.08,1.017427,1.035297,1.021272,1.036185,0.999973,0.999187,0.997981,0.995209
978,20191230,120500.0,121500.0,120000.0,120500.0,467794.0,7.56,0.43,6.08,1.024308,1.045730,1.033333,1.049980,1.000390,1.000034,0.998697,0.995862